html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 5000;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: 	#f4f8fb;
  height: 100%;
  width: 80%;
  overflow: scroll;
}

/** //////////// Helper classes /////////// **/
.fit-content{
  height: 100vh;
}
.font-monospace{
  font-family: 'Anonymous Pro', Arial, Helvetica, sans-serif;
}
.font-default{
  font-family: 'Montserrat', sans-serif;

}
.font-xl{
font-size: 3rem;
}

